<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/loginstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>Login</title>
</head>
<body>

    <form id="login_table" action="/users/login" method="post">
  <div id = "login_error" class="text-center mb-2 text-danger text-bold"></div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Email" aria-label="email" aria-describedby="basic-addon1" name="email" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
          </div>
          <input type="password" class="form-control" id="password" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" name ="password" required>
        </div>
      <button type= "submit" id="login" class="btn btn-dark btn-lg btn-block">LOGIN</button>
    </form>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">×</span>
          <p class="message"></p>
        </div>
    </div>
</body>
</html>
<script>
  // const login_form = document.querySelector("#login_table")
  // const login_error = document.querySelector('#login_error')
  // login_form.addEventListener('submit', async(e)=>{
  //   e.preventDefault()
  //   // const fd = new FormData()
  //   const form_data = {
  //     email: login_form.email.value,
  //     password: login_form.password.value,
  // }
  // axios({
  //   method: 'post',
  //     url: '/index/login',
  //     data: JSON.stringify(form_data),
  //     headers: {'Content-Type': 'application/json',}
  //   }).then(response=>{
      
  //     if(response.data.message="Login successful"){
  //         window.location.href = "/dashboard"
  //     }else{
  //       login_error.innerHTML = response.data.message
  //     }
  //   }).catch(err=>{
  //     console.log(err.response.data.message);
  //     login_error.innerHTML = err.response.data.message
  //   })
    
  // })
</script>
  <%- include('./footer.ejs') %>