body{
    background: url("../images/To The Girls In High School Who _Don't Care_.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
  
}
#login_table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    login-columns: 1fr;
}
input{
    opacity: .5;
}
input:focus{
    opacity: 5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 50px;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #ccc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px !important;
  text-align: center;
  font-size: 20px !important;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 42px !important;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#login{
    background-color: #27ae60;
}
@media(max-width: 468px){
    #login_table{
        login-columns: 1fr 1fr;
    }
}
